*{
    margin: 0%;
    padding: 0%;
}
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
.inner-card{
    
    margin-top: 13px;
}
body{
 background: linear-gradient(to right, #159957, #155799);
 /* background-image: linear-gradient(to bottom, black, rgba(255, 255, 255, 0), white); */
 /* background: linear-gradient(45deg, purple, pink); */
 font-family: 'Quicksand', sans-serif;
}
 .text1{
font-size: xx-large;


}
.first-div{
background: rgba(0, 0, 0, 0.3);
margin: auto;
margin-top: 13%; 
text-align: center;
height: 50%; 
width: 20%;

padding: 10px;
}

#form{
    text-align: center;
}
.link{
    text-decoration: none;
    color:black;
}
#em{
    margin-top:20px;
    width: 300px;
    height: 35px;
    border-radius: 20px;
font-size: 20px;
border: 2px solid rgb(0, 0, 0);
padding: 8px;
}
#pass{
    margin-top: 20px;
    width: 300px;
    height: 35px;
    border-radius: 20px;
    font-size: 20px;
    border: 2px solid rgb(0, 0, 0);
padding: 8px;
}

.btn2{
    /* background-color: #155799; */
    margin-top: 20px;
    background: linear-gradient(to right, #159957, #155799);
     padding: 10px;
     width: 120px;
    border-radius: 20px; 
    border: 2px solid black;  
     font-size: larger; 
}
.h{
    margin-top: 10px;
}
